<h1>Contact list</h1>
<p>Find me in app/views/contact/index.html.erb</p>
<p></p>
<h2><%= @contact_list.size %> contacts</h2>
<ul>
<% @contact_list.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %> | <%= contact.age %></li>
<% end %>
</ul>

