<h1>Contact list</h1>
<p>Find me in app/views/contact/index.html.erb</p>
<p></p>
<h2><%= @count %> contacts</h2>
<p><strong>As a</strong> contact list user<br>
    <strong>I want</strong> to see name and age of my contacts<br>
    <strong>so that</strong> I can quickly find entries in the list.
</p>

